* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 768.1px) {
  .navs {
    width: 100%;
    height: 10%;

    .mobile__nav {
      display: none;
    }

    .desktop__nav {
      width: 100%;
      height: 100%;
      nav {
        width: 100%;
        height: 100%;
        display: flex !important;
        justify-content: space-between;
        align-items: center;

        .side__nav__toggle {
          display: none;
        }

        .title {
          width: 10%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          h1 {
            color: #129ee8;
            font-size: 1.5em;
          }
        }

        .nav__middle__links {
          width: 50%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .nav__middle__link__button {
            background: none !important;
            text-transform: capitalize !important;
            font-size: 1em;
            color: rgba(0, 0, 0, 0.7);
            height: 3em !important;
            font-weight: 600;

            .nav__middle__link__button__icon {
              display: none;
            }
          }
        }

        .last__links {
          width: auto;

          .last__link__buttons {
            text-transform: capitalize;
            font-size: 1em;
            color: rgba(0, 0, 0, 0.7);
            background: none !important;
            height: 3em !important;
            font-weight: 600;

            .nav__middle__link__button__icon {
              display: none;
            }

            &:nth-child(2) {
              background: #cdebfb !important;
              color: #129ee8;
            }
          }
        }
      }

      .grey__scale {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .navs {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;

    .desktop__nav {
      display: none;
    }

    .mobile__nav {
      width: 100%;
      padding: 1%;

      .head {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .side__nav__toggle {
          font-size: 1em;
          margin-right: 1em;
          width: 3em;
          height: 3em;
          background: none;
          color: rgba(0, 0, 0, 0.7);
        }

        .title {
          color: rgba(0, 0, 0, 0.7);
          font-size: 1em;
          color: #129ee8;
        }
      }

      .nav__drawer {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        background: rgba(0, 0, 0, 0.2);

        .app__side__nav {
          width: 60%;
          height: 100%;
          background: #fff;

          .nav__middle__links {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 6% 2%;

            .nav__middle__link__button {
              text-transform: capitalize;
              font-size: 1em;
              width: 100%;
              height: 3em;
              display: flex;
              justify-content: flex-start;
              margin-bottom: 1em;

              .nav__middle__link__button__icon {
                color: rgba(0, 0, 0, 0.7);
                background: rgba(0, 0, 0, 0.2);
                padding: 2%;
                border-radius: 5px;
                margin-right: 0.5em;
                width: 35px;
                height: 35px;
              }
            }
          }

          .last__links {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 6% 2%;

            .last__link__buttons {
              text-transform: capitalize;
              font-size: 1em;
              width: 100%;
              height: 3em;
              display: flex;
              justify-content: flex-start;
              margin-bottom: 1em;

              .nav__middle__link__button__icon {
                color: rgba(0, 0, 0, 0.7);
                background: rgba(0, 0, 0, 0.2);
                padding: 2%;
                border-radius: 5px;
                margin-right: 0.5em;
                width: 35px;
                height: 35px;
              }

              &:nth-child(2) {
                background: #cdebfb !important;
                color: #129ee8;

                .nav__middle__link__button__icon {
                  color: #cdebfb;
                  background: #129ee8;
                  padding: 2%;
                  border-radius: 5px;
                  margin-right: 0.5em;
                  width: 35px;
                  height: 35px;
                }
              }
            }
          }
        }

        .grey__scale {
          width: 40%;
          height: 100vh;
        }
      }
    }
  }
}
